<div id="table-nav-layers-panel" class="table-nav-layers-panel collapse out">
    <ul class="layers"></ul>
    <div id="funnel">
    <div id="left-funnel-corner"></div>
    <div id="middle-funnel"></div>
    <div id="right-funnel-corner"></div>
</div>
 </div>


<a href="#table-nav-layers-panel" data-toggle="collapse" class="icon-burgermenu_alt collapsed" style="font-size: 27.5px;">
    <div id="table-nav-layers-panel-toggler">
    <span class="icon-close"></span>
    </div>
</a>
